extends layout

block content
  h1= title
  p According to 
    a(href="https://github.com/tobie/ua-parser") ua-parser
    |  #{meta.version}.

  form(action="/", method="post")
    label(for="custom-ua-string") Enter a ua string:
    input(name="custom-ua-string", id="custom-ua-string", value="#{ua.rawUa}", size=80)
    button(type="submit") Go!

  h2 user agent
  ul
    li raw:  #{ua.rawUa}
    li string: #{ua.string}
    li family: #{ua.family}
    li major:  #{ua.major}
    li minor:  #{ua.minor}
    li patch:  #{ua.ppatch}
    li device: #{ua.device}
    li isMobile: #{ua.isMobile}

  h2 os
  ul
    li string: #{os.string}
    li family: #{os.family}
    li major: #{os.major}
    li minor: #{os.minor}
    li patch: #{os.patch}
