extends layout

block content
  h1= title
  p According to 
    a(href="https://github.com/tobie/ua-parser") ua-parser
    |  #{meta.version}.

  form(action="/", method="post")
    label(for="custom-ua-string") Enter a ua string:
    input(name="custom-ua-string", id="custom-ua-string", value="#{ua.rawUa}", size=80)
    button(type="submit") Go!

  :markdown
    ## user agent
      * raw:  #{ua.rawUa}
      * string: #{ua.string}
      * family: #{ua.family}
      * major:  #{ua.major}
      * minor:  #{ua.minor}
      * patch:  #{ua.patch}
      * device: #{ua.device}

    ## os
      * string: #{os.string}
      * family: #{os.family}
      * major: #{os.major}
      * minor: #{os.minor}
      * patch: #{os.patch}

    ## API

    `GET /api/v1?ua=<ua-string>&version=<ua-parser-version>`

    Parameters:

    * `ua-string`: Be sure to url-encode it. Defaults to your request's user agent string.
    * `ua-parser-version`: Coming soon. Defaults to "latest".
