extends layout

mixin li(name, val)
  if val
    li(id="#{name}") #{name}: #{val}
  else
    li(id="#{name}") #{name}:

mixin result(type, data)
  h2= type
  ul
    if data
      each val, key in data
        mixin li(key, val)

mixin parser(payload)
  .parser.block(id="#{payload.meta.name}")
    h2 According to&nbsp;
      a(href="#{payload.meta.repo}") #{payload.meta.name}
      | :

    //-p (version #{payload.meta.version})
    .parser-results
      if payload
        each val, key in payload
          if key != "meta"
            mixin result(key, val)

block content
  .top.block
    h1= title
    p See what your user-agent detection library really thinks!
    form(action="/", method="post")
      label(for="custom-ua-string") Enter a user-agent string:
      input(name="custom-ua-string", id="custom-ua-string", value="#{ua}")
      button(type="submit") Go!

  mixin parser(parsed)
  mixin parser(uaParserJsMeta)

  .api.block
    :markdown
      ## API

      `GET /api/v1?ua=<ua-string>&version=<ua-parser-version>`

      Parameters:

      * `ua-string`: Be sure to url-encode it. Defaults to your request\'s user agent string.
      * `ua-parser-version`: Coming soon. Defaults to "latest".
